{% extends "base.html" %} {% block title %} Order List {% endblock %} {% block
    content %}
    <h1 class="text-2xl font-bold mb-4">Orders List</h1>
    <table class="w-full border-collapse border border-gray-500">
      <thead>
        <tr class="bg-gray-200">
          <th class="border border-gray-500 px-4 py-2">Order ID</th>
          <th class="border border-gray-500 px-4 py-2">Store</th>
          <th class="border border-gray-500 px-4 py-2">Product</th>
          <th class="border border-gray-500 px-4 py-2">Status</th>
          <th class="border border-gray-500 px-4 py-2">Date</th>
          <th class="border border-gray-500 px-4 py-2">Quantity</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <td class="border border-gray-500 px-4 py-2">{{ order.order_id }}</td>
          <td class="border border-gray-500 px-4 py-2">{{ order.store_id.store_name }}</td>
          <td class="border border-gray-500 px-4 py-2">
            {{ order.product_id.product_name }}
          </td>
          <td class="border border-gray-500 px-4 py-2">{{ order.order_status }}</td>
          <td class="border border-gray-500 px-4 py-2">{{ order.order_date }}</td>
          <td class="border border-gray-500 px-4 py-2">
            {{ order.order_quantity }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endblock %}